<%= content_for :body_id, "view" %>
<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Your journal</h1>
      </div>
      <div class="col-lg-8 log">
        <p class="success"><%= notice %></p>
        <%= render @entry %>
      </div>
      <div class="col-lg-8">
        <%= link_to "Edit", edit_entry_path(@entry), class: "btn j-btn edit d-inline-block" %>
        <div class="d-inline-block">
          <%= button_to "Delete", @entry, method: :delete, class: "btn j-btn delete" %>
        </div>
        <%= link_to "View entries", entries_path, class: "btn j-btn d-inline-block" %>
      </div>
    </div>
  </div>
</section>