<div id="<%= dom_id record %>">
  <h2 id="ent-heading">Record #<%= record.id %></h2>
  <p>
    <span class="t_rec d-inline-block"><strong>Date and time</strong></span>
    <%= record.entrylog %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Situation</strong></span><br>
    <%= record.situation %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Description of automatic thoughts</strong></span><br>
    <%= record.autothoughtDesc %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Explanation of automatic thoughts</strong></span><br>
    <%= record.autothoughtExp %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Description of emotions</strong></span><br>
    <%= record.emotionsDesc %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Rate of emotions</strong></span><br>
    <%= record.emotionsRate %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Adaptive responses</strong></span><br>
    <%= record.adaptiveResp %>
  </p>
  <p>
    <span class="t_rec d-inline-block"><strong>Outcomes</strong></span><br>
    <%= record.outcomes %>
  </p>
</div>