<div id="<%= dom_id record %>">
  <p>
    <strong>Entrylog:</strong>
    <%= record.entrylog %>
  </p>

  <p>
    <strong>Situation:</strong>
    <%= record.situation %>
  </p>

  <p>
    <strong>Autothoughtdesc:</strong>
    <%= record.autothoughtDesc %>
  </p>

  <p>
    <strong>Autothoughtexp:</strong>
    <%= record.autothoughtExp %>
  </p>

  <p>
    <strong>Emotionsdesc:</strong>
    <%= record.emotionsDesc %>
  </p>

  <p>
    <strong>Emotionsrate:</strong>
    <%= record.emotionsRate %>
  </p>

  <p>
    <strong>Adaptiveresp:</strong>
    <%= record.adaptiveResp %>
  </p>

  <p>
    <strong>Outcomes:</strong>
    <%= record.outcomes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= record.user_id %>
  </p>

</div>
