<%= content_for :body_id, "home" %>
<section id="hero" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h1>Discover the power of journaling with <span class="journalite"><em>journalite</em></span></h1>
				<%= button_to "Start journaling", new_entry_path, method: :get, class: "btn j-btn" %>
			</div>
		<div class="col-lg-4 icon">
			<%= image_tag "journalite-hero.png", width: "100%", height: "auto", class: "d-block" %>
		</div>
		</div>
	</div>
</section>
<section id="gratitude" class="container-fluid case">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h2>Keep a gratitude journal</h2>
				<p>Gratitude is the appreciation of what you considered as valuable and meaningful in your life; it is being thankful and appreciative for the things we have through experience or perception. Gratitude is an emotion we feel after someone helps us; it invokes a positive temperament when we notice the good in the World. When we feel or experience positivity, it can greatly affect our actions and impact our well-being for the better. Writing a gratitude journal is a proven way to increase your well-being and mindfulness.</p>
				<%= button_to "Create grateful memories", new_entry_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "thought-clouds.png", width: "auto", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section id="cbt" class="container-fluid case">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h2>The power of <abbr title="Cognitive behavioural therapy.">CBT</abbr></h2>
				<p>CBT or cognitive behavioural therapy is a form of psychological treatment widely used in psychotherapy. Through talking and recording our thoughts, its methods helps us change the way we think and behave. Challenging our negative thoughts and subsequent actions is a key tenet of CBT. <strong>journalite</strong> can help you with the 'thought record' template developed by the Beck Institute. Create and view all your thought records knowing that they're secure and private.</p>
				<%= button_to "Create a thought record", new_record_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "gratitude-hero.png", width: "auto", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section id="about" class="container-fluid case">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h2>About journalite</h2>
				<p>Love writing? Enjoy capturing your experiences, thoughts and feelings with journalite. Bring your notebook to life with a digital journal, or use the power of cognitive behavioural therapy (CBT) by creating a thought record. All your journal entries and thought records are safe and secure, and all in one place. <strong>journalite</strong> helps you question your negative thinking through the 'thought record' framework by the Beck Institute.</p>
				<p>The mind is a powerful phenomenon; our thoughts drive our perceptions, will, emotions and ultimately, govern how we behave. Discover more through journalite and bring the power of journaling into your life.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<%= image_tag "happy-journalite.png", width: "auto", height: "auto", class: "happy-journalite" %>
</section>