<%= content_for :title, @title %>
<%= content_for :body_id, "journal" %>
<section id="hero" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h1 class="text-light">The power of the journal</h1>
				<h2 class="text-light">Writing how we feel is a powerful tool</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<%= button_to "Create a journal entry", new_entry_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "journaling-hero.png", width: "100%", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section id="j_entries" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-12">
				<div id="entries">
					<h2 class="heading">Currently, you have no entries</h2>
					<p><span id="result"></span></p>
					<% if user_signed_in? %>
						<p><%= link_to "View entries", entries_path, class: "btn j-btn d-inline-block" %></p>
						<% @entries.each do |entry| %>
							<div class="col-lg-4 float-start">
								<div class="log">
									<%= render entry %>
									<%= link_to "View", entry, class: "btn j-btn" %>
								</div>
							</div>
						<% end %>
          			<% else %>
          				<span>Log in to create or view your journal entries.</span>
          			<% end %>
				</div>
			</div>
		</div>
	</div>
</section>