<%= content_for :title, @title %>
<%= content_for :body_id, "journal" %>
<section id="hero" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h1 class="text-light">The power of the journal</h1>
				<h2 class="text-light">Writing how we feel is a powerful tool</h2>
				<p class="col-lg-8">Journaling is about keeping a record of your life. Document your experiences and feelings and be true to yourself. No one will judge you; your journal should be private and free from criticism. There is no requirement to create daily entries. We recommend writing two or three times a week, but the choice is yours.</p>
				<%= button_to "Create a journal entry", new_entry_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "journaling-hero.png", width: "100%", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section id="j_entries" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-12">
				<div id="entries">
					<h2 class="heading">Currently, you have no entries</h2>
					<p><span id="result"></span></p>
					<% if user_signed_in? %>
						<p><%= link_to "View entries", entries_path, class: "btn j-btn d-inline-block" %></p>
						<% @entries.each do |entry| %>
							<div class="col-lg-4 float-start">
								<div class="log">
									<%= render entry %>
									<%= link_to "View", entry, class: "btn j-btn" %>
								</div>
							</div>
						<% end %>
          			<% else %>
          				<span>Log in to create or view your journal entries.</span>
          			<% end %>
				</div>
			</div>
		</div>
	</div>
</section>