<%= content_for :body_id, "thoughts" %>
<section id="hero" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h1>Record your thoughts</h1>
				<h2>Remember to question negative thinking</h2>
				<p class="col-lg-8">Our thoughts govern how we feel and act. They can impact our lives in powerful ways and we tend to act on those impulses when emotions and tensions are high. Challenge your thinking; question the reasons why you feel a certain way at a certain moment. Start a thought record after you've experienced an unhelpful or unpleassant event or behaviour.</p>
				<%= button_to "Create a throught record", new_record_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "gratitude-hero.png", width: "auto", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section id="t_records" class="container-fluid">
	<section class="container-lg">
		<div class="row">
			<div class="col-lg-12">
				<div id="records">
					<h2 class="heading">Currently, you have no records</h2>
					<p><span id="result"></span></p>
					<% if user_signed_in? %>
						<p><%= link_to "View records", records_path, class: "btn j-btn d-inline-block" %></p>
						<% @records.each do |record| %>
							<div class="col-lg-4 float-start">
								<div class="rec">
									<%= render record %>
									<%= link_to "View", record, class: "btn j-btn" %>
								</div>
							</div>
						<% end %>
					<% else %>
          				<span>Log in to create and view your thought records.</span>
          			<% end %>
				</div>
			</div>
		</div>
	</section>
</section>