<%= content_for :body_id, "thoughts" %>
<section id="hero" class="container-fluid">
	<section class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1>Record your thoughts</h1>
				<h2>Remember to question negative thinking</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<%= button_to "Create a throught record", new_record_path, method: :get, class: "btn j-btn" %>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "gratitude-hero.png", width: "auto", height: "auto", class: "d-block" %>
			</div>
		</div>
	</section>
</section>
<section id="t_records" class="container-fluid">
	<section class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="records">
					<h2 id="ent-heading">Currently, you have no records</h2>
					<p><span id="result"></span></p>
					<% if user_signed_in? %>
						<p><%= link_to "View records", records_path, class: "btn j-btn d-inline-block" %></p>
						<% @records.each do |record| %>
							<div class="col-lg-4 float-start">
								<div class="rec">
									<%= render record %>
									<%= link_to "Show", record, class: "btn j-btn" %>
								</div>
							</div>
						<% end %>
					<% else %>
          				<span>Log in to create and view your thought records.</span>
          			<% end %>
				</div>
			</div>
		</div>
	</section>
</section>