<%= content_for :body_id, "login" %>
<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto user">
        <h1>Log in to journalite</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %><br>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class: "btn j-btn" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>